<mat-divider></mat-divider>
<h3>Company Data:</h3>
<button mat-icon-button color="primary">
  <mat-icon aria-label="Example icon-button with a heart icon" (click)="refreshData()">refresh</mat-icon>
</button>
<br>
<mat-tab-group *ngFor="let company of salaryData">
  <mat-tab label="Name">
    <ng-template matTabContent>
      {{company.name}}
    </ng-template>
  </mat-tab>
  <mat-tab label="Symbol">
    <ng-template matTabContent>
      {{company.symbol}}
    </ng-template>
  </mat-tab>
  <mat-tab label="Salary Expense">
    <ng-template matTabContent>
      {{company.totalSalary | currency}}
    </ng-template>
  </mat-tab>
</mat-tab-group>
