.employee-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.primary-color {
  background-color: #3F51B5;
  color: ghostwhite;
}

.primary-color:hover {
  opacity: 1;
  background-color: #3F51B5;
  color: ghostwhite;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .14)
}
